.nav-item{
  transition: 1s;
}
.nav-item:hover{
  transform: translateY(-5px) ;
}

.social-media{
    padding:68px  50px ;
}
.logo{
  padding:68px  50px ;
  transition: 1s;
}
.logo:hover{
  transform: translateY(-15px) ;
}
.contact{
  padding:68px  50px ;
}
a .social{
    margin: 0 1rem;
    transition: transform 10ms ;
  display: inline-block;
}
a .social:hover {
  transform: translateY(-2px) ;
}
.bg-dark{
  transition: 1s;
}
.bg-dark:hover{
  transform: scale(1.1);
}