.bg-dark {
    background-color: #000 !important;
}
.fontCard{
    font-family: 'Montserrat', sans-serif;
    font-size:x-small ;
    line-height: 80%;
}

































/* .image1{
    background-image: url("/images/Composant 1 – 1.png");
    height:250px;
    width: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:100% 100%;
}

.image2{
    background-image: url("/images/Composant 2 – 1.png");
    height:250px;
    width: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
}
.image3{
    background-image: url("/images/Composant 3 – 1.png");
    height:250px;
    width: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.title{

} */